.env
venv/
__pycache__/
*.pyc
tempCodeRunnerFile.py

# Ignore log files
logs/*.json
logs/*.csv


# Ignore task files
tasks/mydeeptasks.json
tasks/mytasks.json

# Ignore debug files
debug.py
logix/oldlogix.py
release.md
_act_done.bat
_act_skip.bat